/*Created by sanjib*/

/*index page started from here*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/


.login
{
    padding-top:15px;
    text-align: center;
}
.main-nav {
  margin-bottom: 10px;
}
.header .header-main {
  padding: 5px 0;
}
.figure
{
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 20px 20px 0;
    max-width: 100%;
}
figcaption
{
    position: absolute;
    background: rgba(255,255,255,0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0.75;
    width: 100%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    font-size: 16px;
}
.detail-caption{
    border-right: 2px dotted #2b542c
}
figure:hover figcaption
{
    opacity: 1;
}
#text-1:before
{
    content: "PHP";
}
#text-2:before
{
    content: "HTML5";
}
#text-3:before
{
    content: "CSS3";
}
#text-4:before
{
    content: "JavaScript";
}
figure:before
{
    position: absolute;
    font-weight: 800;
    background: black;
    background: rgba(255,255,255,0.75);
    text-shadow: 0 0 5px white;
    color: black;
    width: 100%;
    height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    -moz-transition: all 0.6s ease;
    opacity: 0.75;
    margin-left: -5px;
}
figure:hover:before { opacity: 0; }
.cap-left:before { bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }
.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }
.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }
.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

.lable {
    background: none repeat scroll 0 0 green;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 14px;
    transform: rotate(-40deg);

}
#text-1, #text-2, #text-3, #text-4 {
    padding: 5px;
}


.course-title
{
    position: absolute;
    background: none repeat scroll 0px 0px rgba(0,0,0,0.5);
    color:#fff;
    font-size:20px;
    margin:10px 0px;
    padding:10px 0px;
    bottom: -10px;
    width: 100%;
}

.content-item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*height: 300px;*/
  padding: 10px auto;
  overflow: hidden;
  position: relative;
  /*width: 400px;*/
}
.content-item .overlay {
  border-top: 100px solid #e8c63d;
  border-right: 100px solid transparent;
  top: 0;
  /*height: 0;*/
  opacity: .95;
  position: absolute;
  left: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  /*width: 0;*/
}
.content-item .corner-overlay-content {
  top: 15px;
  color: #333;
  position: absolute;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  left: 0px;
  padding: 5px 5px;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .overlay-content {
  bottom: 0;
  color: #333;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width:850px){
	.container{
		text-align:center;
	}
	
	.content-item {
    backface-visibility: hidden;
    display: inline-block;
    float: none;
    overflow: hidden;
    position: relative;
}
}
